@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.leaflet-top {
    margin-top:55px;
}
.leaflet-right {
    display:none;
}
html,body {
    margin:0;
    padding:0;
    height:100%;
    background-color: rgb(255, 1, 1);
}
#fullscreenkuva{
    display: none;
    height: 100vh;
    background-image: url(../img/taustaetusivu.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    z-index:99; 
 }
p {
    font-size: 0.8em;
    font-family: 'Mulish', sans-serif;
}
h1 {
    font-family: 'Lobster', cursive;
    color:white;
    line-height: 0;
}
h2 {
    font-size: 1.4em;
    letter-spacing: 1.2px;
    color:rgb(49, 49, 49);
    text-shadow: 0px 2px rgb(155, 154, 154);
    font-family: 'Lobster', cursive;
}
h3 {
    font-family: 'Mulish', sans-serif;
    font-size: 2em;
    color:white;
}
h4 {
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
    color:white;
    margin-left:5px;
    margin-top: 60px;
    margin-bottom: 30px;
}

#etusivuteksti {
    margin:0;
    margin-top: 50px;
    font-size: 5em;
    text-shadow: 10px 5px black, 5px 10px rgb(49, 49, 49);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#banneriteksti {
    text-align: left;
    margin:0;
    margin-left:30px;
    padding-top: 36px;
    font-size: 3em;
    text-shadow: 10px 5px black, 5px 10px rgb(49, 49, 49);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#jatkalinkki {
  cursor: pointer;
  color:rgb(255, 255, 255);
  position: absolute;
  font-size: 1.3em;
  letter-spacing: 1.7px;
  bottom:20px;
  right:65px;
  text-shadow: 4px 4px black, -2px -2px rgb(49, 49, 49);
}
#jatkalinkki:hover {
    cursor: pointer;
    color: yellow;
}
#kirjaudulinkki {
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    color:rgb(255, 255, 255);  
    font-size: 1.5em;
    letter-spacing: 2px;
    text-shadow: 4px 4px black, -2px -2px rgb(49, 49, 49);
}
#kirjaudulinkki:hover {
      cursor: pointer;
      color: yellow;
}
#kirjautuminen {
    text-align: center;
    width:300px;
    background-color:rgb(49, 49, 49,0.5);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px 2px rgba(49,49,49,1);
    -moz-box-shadow: 0px 0px 16px 2px rgba(49,49,49,1);
    box-shadow: 0px 0px 16px 2px rgba(49,49,49,1);
}
#kirjautuminen input {
    font-weight: bold;
    font-size: 1em;
    background-color: rgb(49, 49, 49,0.5);
    width:200px;
    margin-top:10px;
    height:40px;
    border-radius: 10px;
}
#kirjautuminenError {
    display:none;
    text-align: center;
    width:300px;
    background-color:rgb(49, 49, 49,0.5);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px 2px rgba(49,49,49,1);
    -moz-box-shadow: 0px 0px 16px 2px rgba(49,49,49,1);
    box-shadow: 0px 0px 16px 2px rgba(49,49,49,1);
}
.navigointi {
    width:100%;
    height:50px;
    background-color: rgb(49, 49, 49);
    border-bottom: 2px solid black;
    display: none;
    position: sticky;
    z-index: 9999;
}
.navigointilinkit {
    cursor: pointer;
    margin-left: 50px;
    font-size: 2em;
    font-family: 'Mulish', sans-serif;
    color:white;
}
.navigointilinkit:hover {
    font-style: italic;
}
.navigointilinkit:first-child {
    margin-left: 50px;
}

#sisalto {
    position: absolute;
    top:0;
    left:0;
    text-align: center;
    display:none;
    margin: 0;
    width:100%;
    height:100%;
    overflow-x: clip;
}
#etsikyytia{
    display: none;
    margin: 0;
    width:100%;
    background-color: white;
}

#kyytilomake{
    display:none;
    width:220px;
    max-width:220px;
    margin: inherit;
    position: relative;
    background-color:white;
    position: absolute;
    z-index:999999;
    top:105px;
    right:21px;
    border: 1px solid rgb(49, 49, 49,0.5);
    border-radius: 4px;
    padding-bottom: 10px;
    box-shadow:5px 5px rgb(49, 49, 49,0.2);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#sisalto label{
    color: rgb(49, 49, 49);  
    text-shadow: 0px 1px rgb(175, 174, 174);   
    margin-top: 10px;
    margin-bottom: 1px;
    margin-left:15px;
    font-family:'Mulish', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    display: block;
    text-align: left;
}
#sisalto input {
    font-family:'Mulish', sans-serif;
    font-weight: bold;
    padding:3px 3px;
    background-color: rgb(49, 49, 49,0.2);
    border-radius: 4px;
}
#maaranpaa, #lahtopaikka {
    font-family:'Mulish', sans-serif;
    font-weight: bold;
    height:20px;
    width:180px;
}
#kellonaika {
    height:20px;
    font-size: 0.6em;
    width:65px;
}
#paivamaara {
    height:20px;
    font-size: 0.6em;
    width:100px;
}
#paivamaarahaku { 
    height:20px;
    font-size: 0.7em;
    width:180px;
}
#luokyyti {
    margin-top: 20px;
    width:130px;
}

#info {
    display:none;
    width:220px;
    max-width:220px;
    margin: inherit;
    position: relative;
    background-color:white;
    position: absolute;
    z-index:999999;
    top:105px;
    right:21px;
    border: 1px solid rgb(49, 49, 49,0.5);
    border-radius: 4px;
    box-shadow:5px 5px rgb(49, 49, 49,0.2);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#info p {
    padding: 10px;
}
#profiili {
    display:none;
    width:220px;
    max-width:220px;
    margin: inherit;
    position: relative;
    background-color:white;
    position: absolute;
    z-index:999999;
    top:105px;
    right:21px;
    border: 1px solid rgb(49, 49, 49,0.5);
    border-radius: 4px;
    box-shadow:5px 5px rgb(49, 49, 49,0.2);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#paivamaarahakupohja {
    box-shadow:5px 5px rgb(49, 49, 49,0.2);
    display:none;
    width:220px;
    max-width:220px;
    margin: inherit;
    position: relative;
    background-color:white;
    position: absolute;
    z-index:999999;
    top:105px;
    right:21px;
    border: 1px solid rgb(49, 49, 49,0.5);
    border-radius: 4px;
    padding-bottom: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hakunapit {
    margin-top:15px;
    margin-left: 5px;
    cursor:pointer;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:rgb(49, 49, 49);
	border-radius:5px;
	border:1px solid #566963;
    color:#ffffff;
    font-size: 0.7em;
	font-family:'Mulish', sans-serif;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

#avaaHaku {
    cursor: pointer;
    margin-left:-3px;
    margin-top:-2px;
    font-size: 1em;
    border:none;
    background-color:inherit;
}
#avaaLuonti {
    cursor: pointer;
    margin-left:-2px;
    margin-top:-6px;
    font-size: 1.2em;
    border:none;
    background-color:inherit;
}
#avaaInfo {
    cursor: pointer;
    margin-top:-2px;
    font-size: 1.2em;
    border:none;
    background-color:inherit;
}
#avaaProfiili {
    cursor: pointer;
    margin-left:-7px;
    margin-top:-5px;
    font-size: 1.4em;
    border:none;
    background-color:inherit;
}
#suljeMenunappula {
    position: inherit;
    width: 21px;
    height: 22px;
    color:#ffffff;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    border:none;
    background-color:inherit;
    text-align: center;
}
#suljeMenunappula p{
    height: inherit;
    margin: 0;
    font-size: 1.0rem;
}
#suljeMenunappula:hover {
    background-color: rgb(255, 84, 84);
}

#avaapaivamaarahaku {
    box-shadow: 0px 0px 0px 1px rgba(135, 135, 135, 0.9);
    height:20px;
    width:20px;
    background-color:white;
    position: absolute;
    z-index:999999;
    padding:5px;
    top:65px;
    right:119px;
    border: 1px solid rgba(170, 170, 170, 0.6);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}
#avaakyydinluonti {
    box-shadow:0px 0px 0px 1px rgba(135, 135, 135, 0.9);
    height:20px;
    width:20px;
    background-color:white;
    position: absolute;
    z-index:999999;
    padding:5px;
    top:65px;
    right:86px;
    border: 1px solid rgba(170, 170, 170, 0.6);
    overflow: hidden;
    cursor: pointer;
}
#avaainfosivu{
    box-shadow: 0px 0px 0px 1px rgba(135, 135, 135, 0.9);
    height:20px;
    width:20px;
    background-color:white;
    position: absolute;
    z-index:999999;
    padding:5px;
    top:65px;
    right:22px;
    border: 1px solid rgba(170, 170, 170, 0.6);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}
#avaaprofiilikuvake {
    box-shadow: 0px 0px 0px 1px rgba(135, 135, 135, 0.9);
    height:20px;
    width:20px;
    background-color:white;
    position: absolute;
    z-index:999999;
    padding:5px;
    top:65px;
    right:54px;
    border: 1px solid rgba(170, 170, 170, 0.6);
    border-radius: 0;
    overflow: hidden;
    cursor: pointer;
}
#suljeMenudiv {
    display: none;
    height:10px;
    width:10px;
    background-color:rgb(206, 0, 0);
    position: absolute;
    z-index:999999;
    padding:5px;
    top:105px;
    right:22px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    border-bottom:2px solid rgba(100, 98, 98, 0.6);
    border-left:1px solid rgba(133, 130, 130, 0.6);
    z-index: 99999999999;
}

.valitsematon:hover {
    background-color: rgb(245, 245, 245) !important;
}
.valittu:hover {
    background-color:#d4c2c1 !important;
}
.kirjautuminenbanneri {
    position: absolute;
    top:0;
    right:0;
}
.kirjautuminenbanneri p {
    font-weight: 600;
    letter-spacing: 3px;
    cursor:pointer;
    font-size: 0.8em;
    margin:0;
    color:white;
    margin-right:10px;
    margin-top:5px;
}
.banneriKirjautuminenTeksti:hover {
    color:yellow;
}
#ulosbanneri {
    display:none;
}

#profiilikuva {
    width:160px;
    height:160px;
}
#kirjautunutkayttaja {
    font-weight: bold;
}

#sisaankirjautuminenprofiili {
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color:rgb(143, 11, 11);
    display: block;
    float:right;
    cursor: pointer;
}
#uloskirjautuminenprofiili {
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color:rgb(143, 11, 11);
    float:right;
    cursor: pointer;
    display: none;
}
#sisaankirjautuminenprofiili:hover,#uloskirjautuminenprofiili:hover,#poistareittinappula:hover {
    background-color: rgb(255, 148, 8);
}
#kyytierror {
    padding: 5px;
    margin: 0;
    height: 15px;
    color: red;
    font-weight: bold;
}
#hakuerror {
    padding: 5px;
    margin: 0;
    height: 15px;
    color: red;
    font-weight: bold;
}

#markerpopup {
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
    text-align:left;
}
#markerpopup a {
    color:black;
    text-decoration: none;
}
#markerpopup p{
    margin:0;
    font-size: 1em;
    font-family: 'Mulish', sans-serif;
    text-align:center;
    margin-top:2px;
    margin-bottom: 8px;
    font-weight: 500;
}

#popupteksti {
    font-weight: 900;
    font-size:0.9em;
    line-height: 0;  
}
#isompitekstipopup {
    font-size: 1.2em;
    text-align: left;
}
h5 {
    font-family: 'Lobster', cursive;
    font-size: 1.8em;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-top:5px;
    margin-bottom: 10px;
    text-align:center;
    line-height: 30px;  
    text-shadow: 0px 2px rgb(155, 154, 154);
}
#poistareittinappula {
    padding:none;
    margin:none;
    position: absolute;
    top: 0;
    left:10px;
    background-color: #ffff;
    border:none;
    border-radius: 3px;
    color:rgb(143, 11, 11);
}
